*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: helvetica;
	font-variant: small-caps;}
#battle{background: black;}
#field{
	height: 78vh;
	position: relative;
	overflow: hidden;
	background: rgba(0,0,0,.5);}
#field:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/**************************************************************************/

#test{
	display: inline-block;
	position: absolute;
	z-index: 2;
	width: 120%
}
#player{
	display: inline-block;
	float: right;
	position: relative;
	z-index: 5;
}

/**************************************************************************/
#message{
	position: absolute;
	z-index: 20;
	background: black;
	color: white;
	opacity: .6;
	width: 100%;
	height: 20vh;
	text-align: center;
	border-bottom: 2px solid white;
}
#message p{
	padding: 20px 0;
	font-size: 40px;
}
#lightbox{
	background: rgba(0,0,0,.5);
	width:100%;
	height: 78vh;
	position:absolute;
	right:0px;
	z-index:9;
}

/**************************************************************************/

#menu_s{
	height: 22vh;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #000000),
	color-stop(1, #333333)
	);
	background-image: -o-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -moz-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -webkit-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: -ms-linear-gradient(bottom, #000000 0%, #222222 100%);
	background-image: linear-gradient(to bottom, #000000 0%, #222222 100%);
}

nav{display: inline-block;}

#line{
	border-right: 1px solid white;
	display: inline-block;
	height: 22%;
	position: absolute;
}

li:hover{cursor: pointer;}

/**************************************************************************/

/*class to appear and disappear menus*/
.none{display: none;}

/*menu options*/
.menu{
	width: 15%;
	font-size: 20px;
	float: right;
	position: absolute;
	right: 540px;
}
.menu>ul{
	list-style: none;
}
.menu>ul>li{
	padding: 4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
.menu>ul>li:hover{
	background: black;
	border-bottom: 1px solid white;
}

/*initial options*/
#options>ul>li:hover{
	color: blue;
}
/*second options*/
#options2>ul>li:hover{
	color: blue;
}
/*third options*/
#options3>ul>li:hover{
	color: purple;
}
/*fourth options*/
#options4>ul>li:hover{
	color: yellow;
}

/**************************************************************************/

/*magic*/
#magic>ul>li:hover{
	color: green;
}
/*battojutsu*/
#batto>ul>li:hover{
	color: pink;
}
/*special moves*/
#special>ul>li:hover{
	color: orange;
}
/*programs*/
#program>ul>li:hover{
	color: gray;
}

/**************************************************************************/

/*names of all allies*/
#ally_name{
	display: inline-block;
	position: absolute;
	right: 420px;
	width: 100px;
}
#ally_name p{
	border-bottom: 1px white solid;
	border-right: 1px white solid;
	border-bottom-right-radius: 10px;
	font-size: 20px;
	padding-bottom: 3px;
	padding-top: 15px;
	padding-left: 10px;
	width:150px
}

#ally_num{
	position:absolute;
	right:280px;
	display:inline-block;}
#ally_num_section{
	padding-bottom:1px;
	border-bottom:1px white solid;
	padding-top:4px;}
/*ally bar attributes*/
.ally_bar{
	width: 250px;
  height: 10px;
  border-bottom-right-radius: 5px;
	padding-top: 5.5px;
	padding-bottom: 1px;}
.ally_progress_bar{
	position: relative;
	top: 40%;
  height: 70%;
  width: 250px;
  border-bottom-right-radius: 3px;}

/*numbers and names*/
.num{width:30px;}

.ally_bars{
	border-bottom: 1px solid white;
	padding-right: 20px;
	padding-bottom: 4px;
}

.HP_ally, .HP_ally_max, .MP_ally, .MP_ally_max{display: inline-block;}
.HP_ally, .MP_ally{text-align: right;}
.HP_bar{width: 250px;}

.HP_nums, .MP_nums{display: inline-block;}

.HP_ally_progress_bar{
  border-bottom: 2px solid #006601;
  border-right: 2px solid #006601;}
.HP_ally_progress_bar div{background-color: #55FD40;}
.MP_ally_progress_bar{
	border-bottom: 2px solid #2F06FF;
  border-right: 2px solid #2F06FF;}
.MP_ally_progress_bar div{background-color: #33AAFF;}

/**************************************************************************/

#enemy_name{
	display: inline-block;
}
#enemy_name p{
	font-size: 24px;
	padding-bottom: 3px;
	padding-top: 10px;
	padding-left: 10px;
	width:175px;
}

/*enemy bar attributes*/
.enemy_bar{
	width: 400px;
  height: 20px;
  border-bottom-right-radius: 5px;}
.enemy_progress_bar{
	position: relative;
	top: 40%;
  height: 60%;
  width: 400px;}

#enemy_bars{
	display: inline-block;
	margin-top: 10px;
	float: left;
	position: absolute;
	left: 180px;
	padding-bottom: 5px;
}

#HP_enemy, #HP_enemy_max, #MP_enemy, #MP_enemy_max{display: inline-block;}

/*HP bar*/
#HP_enemy_progress_bar{
    border-bottom: 4px solid #660A00;
    border-right: 4px solid #660A00;}
#HP_enemy_progress_bar div{background-color: #FD1900;}
/*MP bar*/
#MP_enemy_progress_bar{
	border-bottom: 4px solid #660052;
	border-right: 4px solid #660052;}
#MP_enemy_progress_bar div{background-color: #FD00CD;}