*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: helvetica;
	font-variant: small-caps;
}
#battle{}
#field{height: 75vh;background: black;}
#menu{height: 25vh;background: rgb(40,40,40);}

#test{
	height: 400px;
	background: red;
	width: 20%;
	display: inline-block;
}
#player{
	height: 100px;
	background: green;
	width: 5%;
	display: inline-block;
	float: right;
}

#options{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 16px;
	float: left;
	position: fixed;
}
nav{display: inline-block;}

#options>ul{
	list-style: none;
}
#options>ul>li{
	padding: 0 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#options>ul>li:hover{
	background: black;
	color: blue;
	border-bottom: 1px solid white;
}

#magic{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 16px;
	float: left;
	position: relative;
	z-index: 5;
	background: black;
}
.none{display: none;}
#magic>ul{
	list-style: none;
}
#magic>ul>li{
	padding: 0 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#magic>ul>li:hover{
	background: black;
	color: green;
	border-bottom: 1px solid gray;
}

#bars{
	display: inline-block;
	float: right;
	padding-right: 30px;
}
#HP_bar, #MP_bar{}
#HP_ally, #HP_ally_max{display: inline-block;}
#MP_ally, #MP_ally_max{display: inline-block;}

#HP_ally_progress_bar{
    width: 400px;
    height: 10px;
    border: 2px solid #006601;
    background-color: black;
    border-radius: 10px;
}
#HP_ally_progress_bar div{
    height: 100%;
    color: #fff;
    width: 400px;
    background-color: #55FD40;
    border-radius: 10px;
}

#MP_ally_progress_bar{
    width: 400px;
    height: 10px;
    border: 2px solid #2F06FF;
    background-color: black;
    border-radius: 10px;
}
#MP_ally_progress_bar div{
    height: 100%;
    color: #fff;
    width: 400px;
    background-color: #33AAFF;
    border-radius: 10px;
}