*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: helvetica;
	font-variant: small-caps;
}
#battle{background: black;}
#field{height: 80vh;position: relative;overflow: hidden;background: rgba(0,0,0,.5);}
#field:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#menu{height: 20vh;background: rgb(25,25,25);}

#test{
	display: inline-block;
	position: absolute;
	z-index: 2;
	width: 120%
}
#player{
	display: inline-block;
	float: right;
	position: relative;
	z-index: 5;
}

nav{display: inline-block;}

#menu{
}

#line{
	border-right: 1px solid white;
	display: inline-block;
	height: 20%;
	position: absolute;
}

li:hover{cursor: pointer;}

/*class to appear and disappear menus*/
.none{display: none;}

/*initial options*/
#options{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	float: right;
	position: absolute;
	right: 540px;
}
#options>ul{
	list-style: none;
}
#options>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
	background: black;
}
#options>ul>li:hover{
	background: black;
	color: blue;
	border-bottom: 1px solid white;
}

/*second options*/
#options2{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	float: right;
	position: absolute;
	right: 540px;
}
#options2>ul{
	list-style: none;
}
#options2>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
	background: black;
}
#options2>ul>li:hover{
	background: black;
	color: blue;
	border-bottom: 1px solid white;
}

/*third options*/
#options3{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	float: right;
	position: absolute;
	right: 540px;
}
#options3>ul{
	list-style: none;
}
#options3>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
	background: black;
}
#options3>ul>li:hover{
	background: black;
	color: purple;
	border-bottom: 1px solid white;
}

/*fourth options*/
#options4{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	float: right;
	position: absolute;
	right: 540px;
}
#options4>ul{
	list-style: none;
}
#options4>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
	background: black;
}
#options4>ul>li:hover{
	background: black;
	color: yellow;
	border-bottom: 1px solid white;
}


/*magic*/
#magic{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	z-index: 5;
	background: black;
	position: absolute;
	right: 540px;
}
#magic>ul{
	list-style: none;
}
#magic>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#magic>ul>li:hover{
	background: black;
	color: green;
	border-bottom: 1px solid white;
}

/*battojutsu*/
#batto{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	z-index: 5;
	background: black;
	position: absolute;
	right: 540px;
}
#batto>ul{
	list-style: none;
}
#batto>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#batto>ul>li:hover{
	background: black;
	color: red;
	border-bottom: 1px solid white;
}

/*special moves*/
#special{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	z-index: 5;
	background: black;
	position: absolute;
	right: 540px;
}
#special>ul{
	list-style: none;
}
#special>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#special>ul>li:hover{
	background: black;
	color: red;
	border-bottom: 1px solid white;
}

/*programs*/
#program{
	width: 15%;
	color: rgb(220,220,220);
	font-size: 20px;
	z-index: 5;
	background: black;
	position: absolute;
	right: 540px;
}
#program>ul{
	list-style: none;
}
#program>ul>li{
	padding: 2.4% 20px;
	border-bottom: 1px solid rgb(40,40,40);
	text-indent: 10px;
}
#program>ul>li:hover{
	background: black;
	color: red;
	border-bottom: 1px solid white;
}


#ally_name{
	display: inline-block;
	position: absolute;
	right: 400px;
	width: 100px;
}
#ally_name p{
	border-bottom: 1px white solid;
	border-right: 1px white solid;
	border-bottom-right-radius: 50px;
}

#ally_bars{
	display: inline-block;
	float: right;
	position: absolute;
	right:0;
}

#HP_bar, #MP_bar{}
#HP_ally, #HP_ally_max{display: inline-block;}
#MP_ally, #MP_ally_max{display: inline-block;}

#HP_ally_progress_bar{
    width: 400px;
    height: 10px;
    border: 2px solid #006601;
    background-color: black;
    border-radius: 10px;
}
#HP_ally_progress_bar div{
    height: 100%;
    color: #fff;
    width: 400px;
    background-color: #55FD40;
    border-radius: 10px;
}

#MP_ally_progress_bar{
    width: 400px;
    height: 10px;
    border: 2px solid #2F06FF;
    background-color: black;
    border-radius: 10px;
}
#MP_ally_progress_bar div{
    height: 100%;
    color: #fff;
    width: 400px;
    background-color: #33AAFF;
    border-radius: 10px;
}

#enemy_name{
	display: inline-block;
	width: 100px;
}

#enemy_bars{
	display: inline-block;
	margin-top: 10px;
	float: left;
	position: absolute;
	left: 100px;
}

#HP_bar, #MP_bar{}
#HP_enemy, #HP_enemy_max{display: inline-block;}
#MP_enemy, #MP_enemy_max{display: inline-block;}

#HP_enemy_progress_bar{
    width: 400px;
    height: 10px;
    /*border: 2px solid #660A00;*/
    border-bottom: 2px solid #660A00;
    border-right: 2px solid #660A00;
    border-bottom-right-radius: 10px;
    /*border-radius: 10px;*/
}
#HP_enemy_progress_bar div{
		position: relative;
		top: 40%;
    height: 60%;
    color: #fff;
    width: 400px;
    background-color: #FD1900;
    /*border-radius: 10px;*/
    border-bottom-right-radius: 10px;
}

#MP_enemy_progress_bar{
    width: 400px;
    height: 10px;
    border: 2px solid #660052;
    background-color: black;
    border-radius: 10px;
}
#MP_enemy_progress_bar div{
    height: 100%;
    color: #fff;
    width: 400px;
    background-color: #FD00CD;
    border-radius: 10px;
}